@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');

:root {
  --common-block-background: rgba(255, 255, 255, 0.8);
  --common-block-box-shadow: 0 1px 8px 0 #888;
  --common-block-radius: 3px;
  --common-content-padding: 2rem 2.5rem;
  --common-font-color: #333;

  /* 版块牌子 */
  --plate-name-color: #fff;
  --plate-name-font-size: 18px;
  --plate-name-text-shadow: 1px 1px 8px #000;
}

* {
  font-family: 'Fira Code', 'Noto Sans SC', 'Noto Serif SC', monospace;
  color: var(--common-font-color);
}

body {
  margin: 0;
}
