@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');

* {
  font-family: 'Fira Code', 'Noto Sans SC', 'Noto Serif SC', monospace;
}

body {
  margin: 0;
}

:root {
  --common-block-background: rgba(255, 255, 255, 0.8);
  --common-block-box-shadow: 0 1px 8px 0 #888;
  --common-content-padding: 2rem 2.5rem;
}
